# Working with date and time using Pandas

In [10]:
import pandas as pd

In [11]:
from datetime import date

In [12]:
d = date(2019,9,17)

In [13]:
d

datetime.date(2019, 9, 17)

In [14]:
type(d)

datetime.date

# Year, month, and day extraction
Retrieve the year, month, and day components from a Timestamp object.

In [18]:
var = pd.Timestamp("2023-1-17  15:30:00")
var

Timestamp('2023-01-17 15:30:00')

In [21]:
year= var.year
year

2023

In [23]:
month = var.month
month

1

In [25]:
date = var.day
date

17

# Weekdays and quarters

In [27]:
hour = var.hour
hour

15

In [28]:
minute = var.minute
minute

30

In [30]:
weekday = var.weekday()
weekday

1

In [33]:
quarter = var.quarter
quarter

1

# Working with Time in Pandas

In [34]:
from datetime import time
 
t = time(12,50,12,40)
 
print(t)
 
print(type(t))

12:50:12.000040
<class 'datetime.time'>